* {
    font-family: 'Quicksand', Quicksand, sans-serif;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* --- in books.index page --- */

.table .book-cover {
    width: 100px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

/* --- in books.details page --- */

.card .book-cover {
    display: inline-flex;
    align-items: center;
}
