* {
    font-family: 'Quicksand', Quicksand, sans-serif;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.book-cover {
    width: 100px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}
